.navtab{
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        gap: .5rem;
        li {
            background-color: #eee;
            border-radius: 25px;
            text-align: center;
            padding: 5px 35px;
            width: fit-content;
        }
    }
}